:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.95rem;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;

  p,
  a {
    position: relative;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.15s;
    text-decoration: none;
    svg {
      position: absolute;
      right: 24;
      bottom: 0;
      margin-bottom: 2px;
    }
  }
}

svg {
  margin-top: 4px;
}

.text-md {
  font-size: 1.375rem;
}

.text-lg {
  font-size: 1.75rem;
}

.purple {
  color: var(--purple);
}

.green {
  color: var(--green);
}

.white {
  color: var(--white);
}

:host:hover {
  .purple {
    color: var(--purple-hover);
  }

  .white {
    color: var(--white-hover);
  }

  .green {
    color: var(--green-hover);
  }
  svg path,
  a svg path {
    stroke: var(--purple-hover);
  }
}
