:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;

  p,
  a {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    text-decoration: none;
    transition: color 0.15s cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  svg {
    flex-shrink: 0;
    margin-top: 4px;
  }
}

.text-md {
  font-size: var(--btn-font-md);
}

.text-lg {
  font-size: var(--btn-font-lg);
}

.text-xl {
  font-size: var(--btn-font-xl);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.purple {
  color: var(--purple);
}

.green {
  color: var(--green);
}

.white {
  color: var(--white);
}

:host:hover {
  .purple {
    color: var(--purple-hover);
  }

  .white {
    color: var(--white-hover);
  }

  .green {
    color: var(--green-hover);
  }
  svg path,
  a svg path {
    stroke: var(--purple-hover);
  }
}


@media (max-width: 768px) {
  svg {
    margin-top: 1px;
  }
}