:host {
  margin-top: 6rem;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: -1.5rem;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  color: var(--white-hover);
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (max-width: 1024px) {
  :host {
    margin-top: 4rem;
  }
}

@media (max-width: 480px) {
  :host {
    margin-top: 3rem;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 1.5rem;
  }
}
