:host {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  padding-top: 12rem;
  padding-bottom: 4rem;
  background-color: var(--purple-70);
  backdrop-filter: blur(16px);
  overflow-y: auto;
  padding-inline: 1.5rem;
}
.title-and-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  h2 {
    color: var(--green);
    font-weight: 600;
    letter-spacing: 0.04em;
    font-size: var(--modal-title);
    text-transform: uppercase;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media (max-width: 1024px) {
  :host {
    gap: 4rem;
    padding-top: 9rem;
  }
}

@media (max-width: 480px) {
  :host {
    gap: 3rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}
