section {
  margin-top: 12rem;
  max-width: 1200px;
}
.section-title {
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 1.5rem;
}

h1 {
    font-weight: 500;
    color: var(--white-text);
    font-size: var(--font-size-xl);
    line-height: 1.4;
    text-wrap: balance;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.purple {
    color: var(--purple);
}

.green-btn {
    color: hsla(69, 90%, 60%, 60%);
}

