:host {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 2.5rem;
  background-color: #242424;
  padding: 2rem 1.5rem 3rem;
  color: var(--white-text-paragraph);
  border-radius: 8px;
}

.icon-container {
  display: flex;
  background-color: #363636;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  margin-bottom: -1rem;
  img {
    width: 3rem;
    height: 3rem;
  }
}

p {
  font-size: var(--font-size-md);
  width: 100%;
  text-wrap: balance;
  line-height: 1.4;
}

h3 {
  font-size: var(--font-size-lg);
}

@media (max-width: 1480px) {
  :host {
    min-width: 45%;
    flex: 0 0 0;
  }
}

@media (max-width: 1200px) {
  :host {
    min-width: 70%;
  }

  @media (max-width: 768px) {
    :host {
      min-width: 100%;
    }
  }
}
