<section>
  <p class="section-title">Projetos</p>
  <div class="project-wrapper">
    <div class="container-center">
      <div class="project-column">
        @for (project of firstColumn; track project.id) {
          <app-project-card [project]="project" />
        }
      </div>
      <div class="project-column">
        @for (project of secondColumn; track project.id) {
          <app-project-card [project]="project"></app-project-card>
        }
      </div>
    </div>
    @if (lastProject) {
      <div class="row-full-width">
        <app-project-card [project]="lastProject" />
      </div>
    }
  </div>
</section>
