:host {
  position: fixed;
  top: 0;
  margin-inline: -1.5rem;
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-color: var(--purple-70);
  backdrop-filter: blur(16px);
  overflow-y: auto;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.spacer {
  width: 100%;
  height: 4px;
  background-color: var(--white);
}
