section {
    margin-top: 6rem;
    width: 100%;
}

.section-title {
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 4rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 3rem;
    width: 100%;
}